#IntelliJ IDEA
/*.iml
/.idea/
/build/
/out/
/release/
/src/META-INF/

#Eclipse
/bin/

#NetBeans
/build/
/dist/
/history
/manifest.mf
/nbproject/genfiles.properties
/nbproject/private/

#VSCode
/.history/*

#OS
/.DS_Store
/thumbs.db

#LibreOffice
/.~lock.*

#Generic
/*.bak
/manifests/
/TEMP
/TODO

#Don't commit:
/Hours.ods
/kanjigraphs/jisx0208+jisx0212-graph.conn
/kanjigraphs/jisx0208+jisx0212-graph.txt
/kanjigraphs/jisx0208-graph.conn
/kanjigraphs/jisx0208-graph.txt
/kanjigraphs/jisx0212-graph.conn
/kanjigraphs/jisx0212-graph.txt
/kanjisets/jinmeiyou1951-appendix.utf8
/kanjisets/jinmeiyou1976-appendix.utf8
/kanjisets/jinmeiyou1981-appendix.utf8
/kanjisets/jinmeiyou1990-appendix.utf8
/kanjisets/jinmeiyou1997-appendix.utf8
/kanjisets/jinmeiyou2004_02-appendix.utf8
/kanjisets/jinmeiyou2004_06-appendix.utf8
/kanjisets/jinmeiyou2004_07-appendix.utf8
/kanjisets/jinmeiyou2004_09-appendix.utf8
/kanjisets/jinmeiyou2009-appendix.utf8
/kanjisets/jinmeiyou2010-appendix.utf8
/kanjisets/jinmeiyou2015-appendix.utf8
/kanjisets/jinmeiyou2017-appendix.utf8
/kanjisets/jinmeiyou2017-correct-appendix.utf8
/old/
/src/org/digitalmodular/graphanalyzer/AnalyzeIncrementalSetMain.java
/src/org/digitalmodular/graphanalyzer/DebugGraphs.java
/src/org/digitalmodular/graphanalyzer/TestMain.java
/src/Temp.java
/componentsets/touyou1946-radicals.utf8

